*{
    margin: 0px;
    padding: 0px;
}
.background-image{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("final.jpg");
    width: 100%;
    background-size: cover;
    margin-top: 4%;
    object-fit: cover;
    }
    p{
        font-size:200%;
        color: black;
        text-align: center;
        margin-top: 12%;
        margin-left: 70%;
        color: blueviolet;
        font-style:italic;
    }
    h2{
        text-align:center;
        top: 150%;}
    h3{text-align:center;
        top: 150%;

    }
    h4{
        text-align: center;
        font-size: xx-large;
        font-style: oblique;
        color:  blueviolet;
    }
    button{ color: rgb(238, 238, 247);
        background-color: rgb(126, 126, 219);
        border-color:rgb(114, 114, 188);
        width: 180px;
        padding: 14px 40px;
        text-align: center;
        font-size: large;
        font-style: oblique;
        cursor: pointer;
        margin-top: 4%;
        margin-right: 2%;
        }
        img{
            float: left;
        }
        .button1{
           top: 100px;
           font-size: x-large;
           color: rgb(114, 114, 188);
           border: 29%;
        }
        #section2 {
            width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("img.jpg");
    width: 100%;
    background-size: cover;
    object-fit: cover;
           
          }
    
        
